* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin: 16px 32px;
}

@media (max-width: 768px) {

    body {
        
        margin: 8px;
    }
}

.menu {

    background-color: #f08d8f;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu a {

  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}




.icon {

    width: 30px;
    height: 25px;
    display: none;
    padding: 8px;
    margin-left: auto;
      
}

.icon img {

    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {

    .icon {
      display: block;
      width: 50px;
      height: 50px;
    }
    .menu a {
      display: none;
    }
  }


.hero-section {

    position: relative;
    max-width: 100%;
    height: 70vh;
    background-image: url(/img/2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 24px;
}

.hero-text {

    position: absolute;
    left: 32px;
    bottom: 16px;
    color: #fff;

}

.hero-subtitle {

    font-size: 20px;
}

@media (max-width: 768px) {
    
    .hero-subtitle {

        font-size: 18px;
    }
}

.hero-title {


    margin-top: 8px;
}

@media (max-width: 768px) {

    .hero-title {

        font-size: 24px;
    }
}

.image-container {

    width: 50%;
}

@media (max-width: 768px) {

    .image-container {

        width: 100%;
    }
}


.bird {

    width: 100%;
    height: 100%;
    border-radius: 12px;
}